extends layout
block content
	.contenedor
		.row-fluid.desc
			.span12.help.infotitulo
				.genero
					h4 ¿Que es un Torrent?
				p Este sitio utiliza archivos torrent para la descarga de los videos. Los torrents son archivos que utilizan el protocolo BitTorrent, contienen información para conectarse con otros usuarios de la red que estén compartiendo el mismo archivo que nosotros. Para poder realizar descargas por Torrent, es necesario contar con un cliente BitTorrent, que son programas que permiten la descarga de archivos que otros usuarios poseen, mediante la red P2P.
				.genero
					h4 ¿Cómo descargo los videos de tufilmoteca?
				p 1.- Descargar e instalar utorrent desde #[a(href="http://www.utorrent.com") utorrent.com] (cualquier cliente bittorrent sirve para éste propósito). 
				p.helpimg
					a(href='/img/utorrent.PNG')
						img(src="/img/utorrent.PNG")
				p.helpimg
					a(href='/img/utorrent2.PNG')
						img(src="/img/utorrent2.PNG")
				p 2.- Ingresar a la película deseada y descargar el archivo torrent, es un archivo muy pequeño. 
				p.helpimg
					a(href='/img/tufilmoteca1.png')
						img(src="/img/tufilmoteca1.png")
				p 3.- Doble click sobre el archivo .torrent descargado, se abrira el programa utorrent pidiendo confirmación para descargar el video, presionar "ok". De no abrirse el programa utorrent automáticamente, deberán hacer click derecho sobre el archivo .torrent y seleccionar "abrir con..." y en la siguiente ventana elegir el programa utorrent. 
				p.helpimg
					a(href='/img/torrent.PNG')
						img(src="/img/torrent.PNG")
				p 4.- Cuando utorrent finalice el proceso, verificar el archivo descargado
				p.helpimg
					a(href='/img/torrent2.PNG')
						img(src="/img/torrent2.PNG")
				.genero 
					h4 ¿Cómo descargo los subtítulos?
				p 1.- Ingresar a la película deseada y presionar el siguiente botón. 
				p.helpimg
					a(href='/img/tufilmoteca.PNG')
						img(src="/img/tufilmoteca.PNG")
				p 2.- En esta página elegir el idioma deseado (si esta disponible) 
				p.helpimg
					a(href='/img/subtitulos.PNG')
						img(src="/img/subtitulos.PNG")
				p 4.- Descargar el archivo comprimido. 
				p.helpimg
					a(href='/img/subtitulos2.PNG')
						img(src="/img/subtitulos2.PNG")
				p 5.- Doble click sobre el archivo comprimido y extraer el archivo de subtítulo. 
				p.helpimg
					a(href='/img/subtitulos3.PNG')
						img(src="/img/subtitulos3.PNG")
				.genero 
					h4 ¿Cómo veo los videos en mi PC con los subtítulos incluídos?
				p 1.- Descargar e instalar el reproductor VLC player desde #[a(href="http://www.videolan.org/vlc/") videolan.org]
				p.helpimg
					a(href='/img/vlc.PNG')
						img(src="/img/vlc.PNG")
				p.helpimg
					a(href='/img/vlc2.PNG')
						img(src="/img/vlc2.PNG")
				p 2.- Ponerle el mismo nombre, tanto al archivo de video como de subtítulo, y colocar ambos en la misma carpeta.
				p.helpimg
					a(href='/img/videosub.PNG')
						img(src="/img/videosub.PNG")
				p 3.- Abrir el reproductor VLC player y arrastrar el archivo de video dentre de éste, Los subtítulos se agregarán automáticamente.
				p.helpimg
					a(href='/img/videosub2.PNG')
						img(src="/img/videosub2.PNG")
				p.helpimg
					a(href='/img/videosub3.PNG')
						img(src="/img/videosub3.PNG")
				.genero 
					h4 Créditos
				p Yify and TMDb api
				p This product uses the TMDb API but is not endorsed or certified by TMDb

