extends layout
block content
	.contenedor
		.row-fluid.desc
			.span12.help.infotitulo
				.genero
					h4 ¿Que es un Torrent?
				p Este sitio utiliza archivos torrent para la descarga de los videos. Los torrents son archivos que utilizan el protocolo BitTorrent, contienen información para conectarse con otros usuarios de la red que estén compartiendo el mismo archivo que nosotros.
				.genero
					h4 ¿Cómo descargar un video por Torrent?
				p Para poder realizar descargas por Torrent, es necesario contar con un cliente BitTorrent, que son programas que permiten la descarga de archivos que otros usuarios poseen, mediante la red P2P.
				.genero 
					h4 ¿Que programa uso para descargar?
				p Hay muchisimos, pero el mas recomendado es el uTorrent, lo puede conseguir mediante este #[a(href="http://www.utorrent.com") enlace]
				.genero 
					h4 Créditos
				p Yify and TMDb api
				p This product uses the TMDb API but is not endorsed or certified by TMDb

